.swiper-section *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', regular; /*ÐŸÐ¾Ð´ÐºÐ»ÑŽÑ‡Ð¸Ñ‚ÑŒ ÑÐ²Ð¾Ð¹ ÑˆÑ€Ð¸Ñ„Ñ‚ ÐµÑÐ»Ð¸ Ð½ÑƒÐ¶Ð½Ð¾*/
}

.swiper-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 30px;
    margin-bottom:100px;
    background: transparent;
    background-attachment: fixed;
}

.card-container {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container .swiper-card {
    position: relative;
    min-width: 300px;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 25px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}

/*.swiper-wrapper:hover .swiper-card {
    transform: scale(0.9);
    opacity: 0.5;
}*/

.swiper-wrapper .swiper-card:hover {
    transform: scale(1.1);
    opacity: 1;
}

.card-container .swiper-card .swiper-circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.card-container .swiper-card .swiper-circle h2 {
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

.card-container .swiper-card .swiper-content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.card-container .swiper-card .swiper-content p {
    color: #666;
}

.card-container .swiper-card .swiper-content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}